vti_encoding:SR|utf8-nl
vti_author:SR|DESKTOP-3BIA2KE\\seher
vti_modifiedby:SR|DESKTOP-3BIA2KE\\seher
vti_timelastmodified:TR|05 Nov 2018 08:49:13 -0000
vti_timecreated:TR|04 Nov 2018 22:39:23 -0000
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|log_out.html main.dwt about.html sign_up.html main.html personal_details.html index.html contact_us.html
vti_nexttolasttimemodified:TW|05 Nov 2018 08:49:00 -0000
vti_cacheddtm:TX|05 Nov 2018 08:43:50 -0000
vti_filesize:IR|7562
