{% extends 'base.html' %}
{% block content %}
		
		<!-- #BeginEditable "Content" -->
	
	
		
		<div id="content">
		
			<div id="about-content">
			
			<h1>Who are we</h1>
			
			<p>The Bit fit! was founded to help real people achieve real weight loss, 
			without the unsustainable gimmicks, fad diets, restrictive foods, on-site meetings, 
			or large price tags of other weight-loss companies.
			</p>
			
			<p>By delivering an easy, convenient, personalized program, 
			The Bit fit! empowers people to discover and embrace life-changing habits that help them achieve healthier 
			lives and reach their weight-loss goals, regardless of age or lifestyle.
			</p>
			
			<p>Since 2018, The Bit fit! has helped many customers shed over the extra pounds by 
			delivering the most comprehensive, personal app-based weight-loss program. The Bit fit! is weight loss that fits.			
			</p>


			<h1>How it works</h1>
			
			<p>The Bit fit! is the industry-leading digital health and fitness platform that is 
			centered on the proven principles of calorie tracking and community support for healthy, 
			sustainable weight loss. Members track their daily food intake and fitness activity, and can create goals, 
			start or join community activities and competitive challenges, connect activity trackers, access coaches, and more.			
			</p>
			
			<p>The Bit fit! is continuously expanding its experience gives members the ability to view data and achieve the goals.			
			</p>
			
			
			
			</div>
		</div>			
			
			
			
			
			
			
			
			
			
			
		<!-- #EndEditable -->
			{% endblock %}
			
			
