{% load static %}
<html lang="en-US">
    <head>
        <meta charset="UTF-8">
        <title>The Big Fit</title>
        <link rel="stylesheet" id="bigfit-style-css" href="{% static 'styles.css' %}" type="text/css" media="screen">
    </head>
    <body class="wide">
        <style>
            body
            {background-image: url("{% static 'images/global-bkground.jpg' %}");}
        </style>
        <div id="wrapper">
		    <div id="top">
			    <div id="logo">
				    <img src="{% static 'images/bit_fit_logo-smallest.png' %}"/>
			    </div>
			    <div id="social-media">
				    <p>Connect With US</p>
				    <ul>
					    <li><a href="https://www.facebook.com/"><img src="{% static 'images/fb.png' %}"/></a></li>
					    <li><a href="https://twitter.com/"><img src="{% static 'images/twitter.png' %}"/></a></li>
					    <li><a href="https://youtube.com/"><img src="{% static 'images/youtube.png' %}"/></a></li>
				    </ul>
				    <p>Contact us Today - 1.800.BIG.FIT5 </p>
			    </div>
		    </div>
		    <div id="topnav">
			    <ul>
                        {% if request.session.is_login %}
                            <li><a href="/index/">Home</a></li>
                            <li><a href="{% url 'about' %}">About</a></li>
                            <li><a href="{% url 'logout' %}">Log out</a></li>

                        {% else %}
                            <li><a href="{% url 'home' %}">Welcome</a></li>
                            <li><a href="/index/">Sign In/Sign Up</a></li>
                            <li><a href="{% url 'about' %}">About</a></li>

                        {% endif %}

			    </ul>
		    </div>




            <div id="content">
                {% block content %}
                {% endblock %}
            </div>


            <div id="footer">
			        <p>&copy;Copyright 2018 The Big Fit, Inc. All Rights Reserved </p>
            </div>
        </div>
    </body>
</html>
