{% load static %}
<html lang="en-US">
    <head>
        <meta charset="UTF-8">
        <title>The Big Fit</title>
        <link rel="stylesheet" id="bigfit-style-css" href="{% static 'style.css' %}" type="text/css" media="screen">
    </head>
    <body class="wide">
        <div id="wrapper">
		    <div id="top">
			    <div id="logo">
				    <img src="{% static 'images/bit_fit_logo-smallest.png' %}"/>
			    </div>
			    <div id="social-media">
				    <p>Connect With US</p>
				    <ul>
					    <li><a href="https://www.facebook.com/"><img src="{% static 'images/fb.png' %}"/></a></li>
					    <li><a href="https://twitter.com/"><img src="{% static 'images/twitter.png' %}"/></a></li>
					    <li><a href="https://youtube.com/"><img src="{% static 'images/youtube.png' %}"/></a></li>
				    </ul>
				    <p>Contact us Today - 1.800.BIG.FIT5 </p>
			    </div>
		    </div>
		    <div id="topnav">
			    <ul>
                    <li><a href="{% url 'home' %}">Home</a></li>
                                <li><a href="{% url 'register' %}">Sign Up</a></li>
                    <li><a href="personal_details.html">Personal Details</a></li>
                    <li><a href="about.html">About</a></li>
                    <li><a href="{% url 'logout' %}">Log out</a></li>
			    </ul>
		    </div>
            <div>
                {% block content %}
                {% endblock %}
            </div>
            <div id="footer">
			        <p>&copy;Copyright 2018 The Big Fit, Inc. All Rights Reserved </p>
            </div>
        </div>
    </body>
</html>
