{% extends 'base.html' %}
{% block title %}Calorie Input{% endblock %}
{% block content %}
    <div class="container">
        <div class="col-md-4 col-md-offset-4">
          <form class='form-calorieinput' action="/calorieinput/" method="post">
              {% csrf_token %}
              <div class="form-input">
                  {{ calorieinput_form.current_calorie.label_tag }}
                  {{ calorieinput_form.current_calorie }}
              </div>

              <button type="submit" class="btn btn-primary pull-right">submit</button>

          </form>
        </div>
    </div>
{% endblock %}