{% extends 'base.html' %}
{% block title %}Calorie History{% endblock %}
{% block content %}

        <table border="1">
            <tr>
                <th>ID</th>th>
                <th>Record date</th>
                <th>Calories</th>
                <th>Process</th>
            </tr>
            {% for item in li %}
            <tr>
                <td>{{ item.id }}
                <td>{{ item.record_date }}</td>
                <td>{{ item.calories }}</td>
                <td>
                    <a href="/deletecalorie?nid={{ item.id }}">Delete</a>
                    |
                    <a href="/editcalorie?nid={{ item.id }}">Edit</a>
                </td>
            </tr>
            {% endfor %}
        </table>

{% endblock %}