{% extends "base.html" %}
{% load static %}
{% block content %}
<div id="banner">
    <img src="{% static 'images/signup-image.jpg' %}"/>
</div>

        <div id="content" >
    <h1>Testimonials</h1>

			<div id="home-left">
                <img src="{% static 'images/1st-testi.jpg' %}"/>


			</div>


			<div id="home-right">

			<p>After injuring my back last year, I gained a lot of weight and was the heaviest I had ever been in my life.
			I became depressed and withdrawn. I lacked energy and had a hard time doing anything with my four children.
			Since losing the weight, I’ve had some major milestones. I was able to hike a very challenging trail and piggyback
			my toddler most of the way. My husband and I never had a real wedding so we are making up for it by
			renewing our vows and I am able to fit into the dress of my dreams!<br>
			Mikele !
			</p>



			</div>

			<div id="clear">  </div>

			<div id="home-left">
                <img src="{% static 'images/2nd-testi.jpg' %}"/>


			</div>


			<div id="home-right">

			<p>I got my "before" picture taken at work. When I went to pick it up, it was laid out on a company table with some other pictures
			and I couldn't find myself anywhere. Then my coworker said, "It's right here!"
			I didn't even recognize myself, but others did. Wake-up call!
			Today, I have a ton more energy and can work out more without dreading it so much.
			I can keep up with my dog, and honestly just don't feel so big and out of shape.
			Feeling better about myself, particularly being able to fit into smaller clothes, puts a smile on my face and changes my whole attitude.<br>
			Brittany !
			</p>


			</div>

			<div id="clear">  </div>

			<div id="home-left">
                <img src="{% static 'images/3rd-testi.jpg' %}"/>


			</div>


			<div id="home-right">

			<p>I had a black belt in Tae Kwon Do when I graduated from college. But over the years,
			I let myself go and eventually reached my highest weight of 283 pounds.
			On top of that, I have a poor family history in terms of heart disease, diabetes, and possibly cancer,
			and had recently started to take medication for high blood pressure—a huge disappointment.
			Beginning to succeed with DietBet, and dieting in general, also taught me about eating healthy and exercise, and I started to see these
			things as a life change instead of a diet. I hope I can continue on my journey to get stronger and keep reducing my body fat!<br>
			Rick !
			</p>


			</div>




    </div>

{% endblock %}
