{% extends "base.html" %}
{% load static %}
{% block content %}
<div id="banner">
    <img src="{% static 'images/signup-image.jpg' %}"/>
</div>

        <div id="content" >
    <h1>Testimonials</h1>

			<div id="home-left">
                <img src="{% static 'images/1st-testi.jpg' %}"/>


			</div>


			<div id="home-right">

			<p>When I got injured last year in the back, I started gaining a lot of weight. I went into depression
                and felt withdrawn. I was unable to cope up with life, did not have any energy whatsoever, the taking care of
                five children was becoming impossible. By using BigFit and keeping track of my calories, I feel energized again.
                I am able to take unbelievable challenges head on. Now I constantly go on hiking trips, take care of my toddlers.
                Me and my husband are going to take our vows again and I am the happiest.
		<br>
			Mikele !
			</p>



			</div>

			<div id="clear">  </div>

			<div id="home-left">
                <img src="{% static 'images/2nd-testi.jpg' %}"/>


			</div>


			<div id="home-right">

			<p>My "before" picture was taken at work. The time I went to take it, it was there laid out on the main office table
                along with all other pictures, well guess what!! I was unable to even recognize myseslf.
                That's when my coworker pointed me out my picture. Thats it, that was the wake-up call for me.
			After searching through, I stumbled upon this BigFit tool, and I am happy to say, it has helped me a lot during my
                weight loss journey. Now i have alot more energy and do not dread going out on long walks. I donot feel out of shape
                and can easily keep up with my dog. I love feeling better about myself. This has changed my whole attitude and put a
                smile on my face.
<br>
			Brittany !
			</p>


			</div>

			<div id="clear">  </div>

			<div id="home-left">
                <img src="{% static 'images/3rd-testi.jpg' %}"/>


			</div>


			<div id="home-right">

			<p>I used to have a black belt in Ju-Jit-Su during my school years, I graduated with it. However over the years,
			I was careless, and paid no attention to myself, this led to a weight gain of 238 pounds. This coupled with my poor
                family history of cancer, heart attacks and diabetes were a recipe for disaster. I became a huge disappointment for myself.
                After beginning to succeed with BitFit and healthy organic options, the change in my life was felt at drastic levels.
<br>
			Rick !
			</p>


			</div>




    </div>

{% endblock %}
