{% extends "base.html" %}
{% load static %}
{% block content %}
<div id="banner">
    <img src="{% static 'images/signup-image.jpg' %}"/>
</div>

        <div id="content" >
    <h1>Testimonials</h1>


        <div id="content-in">
        <img src="{% static 'images/1st-test.jpg' %}"/>
        </div>


        <div id="content-in">
        <img src="{% static 'images/2nd-test.jpg' %}"/>
        </div>


        <div id="content-in">
        <img src="{% static 'images/3rd-test.jpg' %}"/>
        </div>



    </div>

{% endblock %}
