{% extends 'base.html' %}
{% block title %}Weight History{% endblock %}
{% block content %}

        <table border="1">
            <tr>
                <th>User</th>
                <th>Weight</th>
                <th>Record date</th>
            </tr>
            {% for item in li %}
            <tr>
                <td>{{ item.user }}</td>
                <td>{{ item.weight }}</td>
                <td>{{ item.record_date }}</td>
            </tr>
            {% endfor %}
        </table>

{% endblock %}
